@import './css/config';
@import 'bootstrap/scss/bootstrap';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $light-gray inset !important;
  box-shadow: 0 0 0 30px $light-gray inset !important;
  -webkit-text-fill-color: white !important;
}

::-webkit-scrollbar {
  width: 0.45rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 27, 0.4);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.outlet {
  margin-top: 56px;
  min-height: 100vh;
  width: 100vw;
}

.dropdown-user-triangle {
  height: 0;
  width: 0;

  border-top: none;
  border-bottom: 8px solid #06c149;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.top-8px {
  top: calc(100% + 7px);
}

.-top-40px {
  top: -40px;
}

.user-dropdown-badge {
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 1) 11%,
    rgba(6, 193, 73, 1) 100%
  );
}

.text-low-white {
  color: $low-white;
  font-weight: 600;
}

.highlight-bg {
  width: 100%;
  height: calc(100vh - 58px);
  background-size: cover;
}

.bg-dark-gradient {
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0) 0%,
    rgba(30, 30, 30, 1) 80%
  );
}

.play-button {
  border: $success 5px solid;
  border-right-color: $secondary !important;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.play-button:hover {
  animation-timing-function: cubic-bezier(0.41, 1.05, 0.65, 0.88);
  animation: play-button-rotate 700ms;
}

.play-button-inner {
  background-color: $success;
  color: $secondary;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.play-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@keyframes play-button-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}
