@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #525252 inset !important;
  -webkit-box-shadow: 0 0 0 30px #525252 inset !important;
  -webkit-text-fill-color: white !important;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #1e1e1e;
  overflow: overlay;
}

*::-webkit-scrollbar {
  display: block;
  width: 10px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000040;
  border: 1px solid #ffffff40;
  border-radius: 24px;
}

.input-form {
  @apply w-full rounded-md px-3 bg-medium-gray border-none caret-anima-green appearance-none pt-5 text-low-white;
}
.input-form:focus {
  @apply outline outline-anima-green/80 border-none ring-transparent;
}

.floating-label {
  @apply absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] left-2.5;
}

.dropdown-user-triangle {
  height: 0;
  width: 0;

  border-top: none;
  border-bottom: 8px solid #06c149;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.play-button {
  border: #06c149 5px solid;
  border-right-color: #1e1e1e !important;
  border-radius: 50%;
  transform: rotate(-45deg);
}

.play-button:hover {
  animation-timing-function: cubic-bezier(0.41, 1.05, 0.65, 0.88);
  animation: play-button-rotate 700ms;
}

.play-button-inner {
  background-color: #06c149;
  color: #1e1e1e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.play-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@keyframes play-button-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(315deg);
  }
}
