@import './css/config';
@import 'bootstrap/scss/bootstrap';

.outlet {
  margin-top: 56px;
  min-height: 100vh;
  width: 100vw;
}

.dropdown-user-triangle {
  height: 0;
  width: 0;

  border-top: none;
  border-bottom: 8px solid #06c149;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.top-8px {
  top: calc(100% + 7px);
}

.user-dropdown-badge {
  background: linear-gradient(
    0deg,
    rgba(30, 30, 30, 1) 11%,
    rgba(6, 193, 73, 1) 100%
  );
}

.text-low-white {
  color: $low-white;
  font-weight: 600;
}
